{{>_navbar}}
{{>_msg}}
<div class="container mt-4">
    <h2>Leil-on</h2>
 <div class="container">
     <input id="nameAuction" placeholder="Nome">
     <input id="nameAuction" placeholder="Descrição">
     <input id="nameAuction" placeholder="Nome">
     <input id="nameAuction" placeholder="Nome">
 </div>
</div>
